<a href="https://colab.research.google.com/github/myinterestforweb/notebook1/blob/main/1st_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df=pd.Series(['Astha','Muskan','Shreyansh'], index=['a','b','c'])

In [4]:
df

a        Astha
b       Muskan
c    Shreyansh
dtype: object

In [5]:
df[0]

'Astha'

In [6]:
df[1:]

b       Muskan
c    Shreyansh
dtype: object

In [9]:
data= pd.read_csv("https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv",error_bad_lines=False)

In [10]:
data.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

In [11]:
fuel_df1= data.iloc[0:19000].reset_index(drop=True)

In [12]:
fuel_df2 = data.iloc[19000:].reset_index(drop=True)

In [13]:
pd.merge(fuel_df1,fuel_df2,how="inner")

Empty DataFrame
Columns: [record_id, utility_id_ferc1, report_year, plant_name_ferc1, fuel_type_code_pudl, fuel_unit, fuel_qty_burned, fuel_mmbtu_per_unit, fuel_cost_per_unit_burned, fuel_cost_per_unit_delivered, fuel_cost_per_mmbtu]
Index: []

In [14]:
pd.merge(fuel_df1,fuel_df2,how="outer")

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

In [15]:
pd.merge(fuel_df1,fuel_df2,how="left")

                      record_id  ...  fuel_cost_per_mmbtu
0         f1_fuel_1994_12_1_0_7  ...                1.121
1        f1_fuel_1994_12_1_0_10  ...                1.120
2         f1_fuel_1994_12_2_0_1  ...                1.650
3         f1_fuel_1994_12_2_0_7  ...                1.970
4        f1_fuel_1994_12_2_0_10  ...                2.570
...                         ...  ...                  ...
18995   f1_fuel_2009_12_182_1_9  ...                4.711
18996  f1_fuel_2009_12_182_1_10  ...               14.634
18997  f1_fuel_2009_12_182_1_13  ...                1.107
18998  f1_fuel_2009_12_182_1_14  ...               15.102
18999    f1_fuel_2009_12_79_0_1  ...                1.727

[19000 rows x 11 columns]

In [17]:
a=[1,2,3,4]
b=[5,6,7,8]
a.extend(b)

In [18]:
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
b

[5, 6, 7, 8]

In [21]:
c=[10,11,12]