<a href="https://colab.research.google.com/github/myinterestforweb/notebook1/blob/main/Ds_hamoye_assn1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1st question:

In [43]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]
A.extend(B)
AB=A

In [44]:
AB

[1, 2, 3, 4, 5, 6, 13, 21, 34]

2nd question:

In [5]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [45]:
df= pd.read_csv("https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv")

In [46]:
df.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

3rd question:

In [51]:
df1= df.groupby('fuel_type_code_pudl')
df1["fuel_cost_per_unit_burned"].mean()

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

4th question

In [15]:
df.describe()

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count      29523.000000  ...         29523.000000
mean         118.601836  ...            19.304354
std           74.178353  ...          2091.540939
min            1.000000  ...           -41.501000
25%           55.000000  ...             1.940000
50%          122.000000  ...             4.127000
75%          176.000000  ...             7.745000
max          514.000000  ...        359278.000000

[8 rows x 7 columns]

5th question

In [17]:
df["fuel_qty_burned"].skew()

15.851495469109503

In [18]:
df["fuel_qty_burned"].kurt()

651.3694501337732

6th question

In [20]:
df.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [22]:
df.shape

(29523, 11)

In [23]:
round(((180/29523)*100),3)

0.61

7th question

In [30]:
df2=df.groupby("fuel_unit")

In [31]:
df2['fuel_unit'].count()

fuel_unit
bbl        7998
gal          84
gramsU      464
kgU         110
mcf       11354
mmbtu       180
mwdth        95
mwhth       100
ton        8958
Name: fuel_unit, dtype: int64

In [50]:
df['fuel_unit'].fillna(value='mcf', inplace=True)
df.isnull().sum()

record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                       0
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0
dtype: int64

8th question

In [32]:
df.corr()["fuel_cost_per_unit_burned"]

utility_id_ferc1               -0.037863
report_year                     0.013599
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_unit_burned       1.000000
fuel_cost_per_unit_delivered    0.011007
fuel_cost_per_mmbtu            -0.000437
Name: fuel_cost_per_unit_burned, dtype: float64

9th question

In [36]:
df4=df.groupby("report_year").mean()

In [37]:
df4

             utility_id_ferc1  ...  fuel_cost_per_mmbtu
report_year                    ...
1994               106.120648  ...             3.086977
1995               110.139051  ...             2.868838
1996               108.714154  ...             2.695880
1997               108.366545  ...             3.113486
1998               109.845528  ...             2.775862
1999               108.222857  ...             2.740251
2000               111.083758  ...             4.208403
2001               113.521386  ...             4.612658
2002               120.354357  ...             6.226281
2003               123.300578  ...             7.223933
2004               121.123322  ...             8.441597
2005               121.028369  ...             9.397078
2006               117.178600  ...            10.339898
2007               116.040348  ...            10.735181
2008               120.785016  ...            12.690115
2009               118.139116  ...            10.619376
2010               117.992863  ...             8.551217
2011               121.069355  ...             9.237591
2012               120.769912  ...             8.808904
2013               122.082569  ...             9.308225
2014               129.263877  ...            10.064673
2015               128.591949  ...             8.054361
2016               133.117021  ...             6.915613
2017               131.126888  ...           368.736351
2018               133.669821  ...             7.233643

[25 rows x 6 columns]

In [54]:
((-213.191996+126.683519)/213.191996)*100

-40.577732102100114

10th question

In [39]:
df4["fuel_cost_per_unit_delivered"].max()

11140.19723948813