<a href="https://colab.research.google.com/github/kumariAstha/notebook1/blob/main/HAMOYEStageB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1st Ques: In linear regression, L2 regularization is equivalent to imposing a:

In [1]:
#Gaussian prior

2nd Ques: Cross validation:

In [2]:
#Is often used to select hyperparameters

3rd Ques: Ridge Regression

In [3]:
#Is more sensitive to outliers tahn ordinary least sqaures

4th Ques: In the different terms of the bias-variance tradeoff, which of the following is substantially more harmful to the test error than the training error

In [4]:
#Variance

5th Ques: What can you use to find the best fit line for data in Linear Regression

In [5]:
#Least Square Error

6th Ques: Which of the following sentence is true about outliers in Linear Regression

In [6]:
#Linear Regression is sensitive to outliers

7th Ques: How many coefficients do you need to estimate a simple linear regression model(one independent variable)?

In [7]:
#2

8th Ques: Adding more basis functions in a linear model

In [8]:
#Decrease model bias

9th Ques: A best fit line relating X and Y has a R-Squared value of 0.75. How do I interpret this information?

In [9]:
#75% of the variance in Y is explained by X

10th Ques: The Lasso can be interpreted as least sqaures linear regression where,

In [10]:
#Weights are regularized with the L2 norm

 11th Ques: Which of the following is not an assumption of Linear Regression?

In [11]:
#  Answer: Independence

In [12]:
#importing dataset
import pandas as pd
df= pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv")

In [13]:
#checking the first five rows of dataset
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [14]:
#normalizing the dataset to a common scale using MinMaxScaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
dfNew= df.drop(columns=['date','lights'])
normalised_df = pd.DataFrame(scaler.fit_transform(dfNew),columns=dfNew.columns)

12 th Ques: R^2 value in two D.P

In [15]:
#considering T2 as independent variable and T6 as dependent variable 
features_df = normalised_df[['T2']]
target = normalised_df['T6']

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(features_df, target, test_size=0.3,random_state=42)

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
predicted_values = linear_model.predict(x_test)

In [19]:
from sklearn.metrics import r2_score
r2_score= r2_score(y_test, predicted_values)
round(r2_score,2)

0.64

CONSIDERING ALL THE COLUMNS EXCEPT DATE AND LIGHTS FOR ANALYSIS FOR REMAINING QUESTIONS

In [20]:

features_df = normalised_df.drop(columns=['Appliances'])
target = normalised_df['Appliances']

In [21]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(features_df, target, test_size=0.3,random_state=42)

In [22]:
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
predicted_values = linear_model.predict(x_test)

13th Ques: Mean Absolute Error

In [23]:
# calculating mean absolute error
from sklearn.metrics import mean_absolute_error
mae=mean_absolute_error(y_test, predicted_values)
round(mae,2)

0.05

14th Ques: Residual Sum of Squares

In [24]:
# calculating RSS
import numpy as np
rss= np.sum(np.square(y_test-predicted_values))
round(rss,2)

45.35

15th Ques: Root Mean Squared Error

In [25]:
#calculating RMSE
from sklearn.metrics import mean_squared_error
rmse= np.sqrt(mean_squared_error(y_test,predicted_values))
round(rmse,3)

0.088

16th Ques: Coefficient of determination

In [26]:
#Calculating Coefficient of determination , which is same as R^2
from sklearn.metrics import r2_score
r2_score= r2_score(y_test, predicted_values)
round(r2_score,2)

0.15

17th Ques : Highest and Lowest weights

In [27]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [28]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.5)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.5, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [29]:
def get_weights_df(model, feat, col_name):
  weights= pd.Series(model.coef_,feat.columns).sort_values()
  weights_df= pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features',col_name]
  weights_df[col_name].round(3)
  return weights_df

In [30]:
linear_model_weights = get_weights_df(linear_model, x_train,'Linear_Model_Weight')
ridge_weights_df= get_weights_df(ridge_reg,x_train,'Ridge_weight')
lasso_weights_df= get_weights_df(lasso_reg,x_train,'Lasso_weight')

In [31]:
final_weights= pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights=pd.merge(final_weights,lasso_weights_df, on='Features')

In [32]:
final_weights

       Features  Linear_Model_Weight  Ridge_weight  Lasso_weight
0          RH_2            -0.456698     -0.401134     -0.000000
1         T_out            -0.321860     -0.250765      0.000000
2            T2            -0.236178     -0.193880      0.000000
3            T9            -0.189941     -0.188584     -0.000000
4          RH_8            -0.157595     -0.156596     -0.000110
5        RH_out            -0.077671     -0.050541     -0.049557
6          RH_7            -0.044614     -0.046291     -0.000000
7          RH_9            -0.039800     -0.041701     -0.000000
8            T5            -0.015657     -0.020727     -0.000000
9            T1            -0.003281     -0.021549      0.000000
10          rv1             0.000770      0.000743     -0.000000
11          rv2             0.000770      0.000743     -0.000000
12  Press_mm_hg             0.006839      0.006516     -0.000000
13           T7             0.010319      0.010021     -0.000000
14   Visibility             0.012307      0.012032      0.000000
15         RH_5             0.016006      0.016176      0.000000
16         RH_4             0.026386      0.024168      0.000000
17           T4             0.028981      0.027006     -0.000000
18    Windspeed             0.029183      0.030463      0.002912
19         RH_6             0.038049      0.035023     -0.000000
20         RH_3             0.096048      0.094976      0.000000
21           T8             0.101995      0.100754      0.000000
22    Tdewpoint             0.117758      0.076668      0.000000
23           T6             0.236425      0.213316      0.000000
24           T3             0.290627      0.287408      0.000000
25         RH_1             0.553547      0.511932      0.017880

In [33]:
#so, from above table we can see that RH_2 , RH_1 features have the lowest and highest weights respectively

18th Ques: Ridge Regression with alpha= 0.4

In [34]:
ridge_reg = Ridge(alpha=0.5)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.5, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [35]:
predicted_values = ridge_reg.predict(x_test)

In [36]:
from sklearn.metrics import mean_squared_error
rmse= np.sqrt(mean_squared_error(y_test,predicted_values))
round(rmse,3)

0.088

In [37]:
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [38]:
predicted_values = ridge_reg.predict(x_test)

In [39]:
from sklearn.metrics import mean_squared_error
rmse= np.sqrt(mean_squared_error(y_test,predicted_values))
round(rmse,3)

0.088

In [40]:
#So, we can see that, there is no change on RMSE values with changing alpha values

19th Ques: Lasso Regression with alpha = 0.0001

In [41]:
#Earlier training was done with alpha= 0.001, and we can see that there are 4 non -zero feature weights

20th Ques: New RMSE with Lasso regression

In [42]:
# Earlier training was done iwth alpha = 0.001 ,and so RMSE remains same i.e. 0.088